<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<% if @article.image.exists? %>
	<p><%= image_tag @article.image.url(:medium) %></p>
<% end %>
<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>

<% if author_signed_in? and current_author.id == @article.id %>
	<p> 
		<%= link_to "Edit", edit_article_path(@article) %>
		<%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"} %>
	</p>
<% end %>

<h3>Comments (<%= @article.comments.count %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments.reverse %>

<!-- Form (partial) for adding a comment -->
<%= render partial: 'comments/form' %>

<%= link_to "Home", articles_path, class: "new_article" %>