<!DOCTYPE html>
<html>
<head>
  <title>Blogger</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag :rss, articles_url(:format => :rss) %>
</head>
<body>
	<% if flash.alert %>
    <p class="flash"><%= flash.alert %></p>
  <% end %>
  <% if flash.notice %>
    <p class="flash"><%= flash.notice %></p>
  <% end %>
  <div id="container">
    <div id="content">
      <%= yield %>
      <hr>
      <h6>
        <% if author_signed_in? %>
          <p>Logged in as <%= current_author.email %></p>
          <%= link_to "Log out", destroy_author_session_path, method: :delete %>
        <% else %>
          <%= link_to "Log in", new_author_session_path %>
        <% end %>
        <%= link_to "Top 3", popular_articles_path %>
      </h6>
    </div>
  </div>
</body>
</html>
